{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}

<div class="top-menu">
<input class="top-search" type="text" placeholder="Rechercher..." aria-label="Search">
{% for item in items %}
<a class="top-item" href="{{ item.url }}">{{ item.title }}</a>
{% endfor %}
</div>

{% endmacro %}