{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
 
<nav class="navbar navbar-expand-lg navbar-light menu-front">
<img alt="logo" data-entity-type="file" data-entity-uuid="a096da09-a7c5-4db2-9b59-e1d45b04ace3" src="/idev/web/sites/default/files/inline-images/logo_0.png"  loading="lazy" class="logo-idev">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       {% for item in items %}
        <li class="nav-item">
          <a class="nav-link front-nav" href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
</nav>

{% endmacro %}
