body{
    overflow: auto!important;
}

.logo-idev
{
    height: 60px;
    width: auto;
    margin: 0em 5em 0em 2em;
}

.front-nav
{
margin: 0em 3em 0em 3em;
color: black !important;
font-weight: 400;
}

.menu-front
{
padding: 1em 0em 1em 0em !important;
background-color: white !important;
}

.top-menu {
    padding: 1em 1em 1em 0em;
    background-color: #00235c;
    display: flex;
    justify-content: flex-end;
}

a.top-item {
    text-decoration: none;
    color: white;
    padding: 0em 2em 0em 1em;
    border-right: 1px solid;
}

input.top-search {
    background-color: transparent;
    border: none;
    color:white;
    border-right: 1px solid;
}

input.top-search::placeholder
{
    color:white;
}

.card_accueil {
    height: 200px;
    width: 350px;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.bg-card1
{
 background-color: #36a9e0;  
}
.bg-card2
{
    background-color: #1d70b8;
}
.bg-card3
{
    background-color: #00235c;  
}

.title_card {
    font-size: 21px;
    padding-bottom: 10px;
}

.d-flex-cards
{
<<<<<<< HEAD
    display: flex ;
    flex-direction: row ;
=======
    display: flex !important;
    justify-content: space-between !important;
}

#block-cards-accueil .container{
>>>>>>> 31dc28a60a58bc688c5af989d7002577cc4beb45
    justify-content: space-between !important;
}

@media (max-width:425px)
{
    .top-menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    }
    a.top-item,input.top-search
    {
    border-right:none;
    padding: 6px 0em 6px 0em;
    text-align: center;
    }

    .card_accueil
    {
    margin: 20px;
    }
    .d-flex-cards {
        display: flex ;
        flex-direction: column ;
    }

}

<<<<<<< HEAD
.container_chiffres {
    display: flex;
    background-color: #f5f6f9;
    width: 260px;
    height: 120px;
    flex-direction: row;
    border-radius: 20px;
    padding: 0px 10px;
}

.flex-chiffres {
    display: flex;
    justify-content: space-between;
}

.chiffres {
    font-size: 35px;
}

.titre_chiffres {
    font-size: 20px;
}

.icone_formation, .icone_participant, .icone_pays, .icone_mondats {
    width: 57px;
    height: 70%;
    border-radius: 9px;
    position: relative;
    transform: translateY(-12px);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone_formation i ,.icone_participant i,.icone_pays i,.icone_mondats i {
    font-size: 25px;
    color: white;
}

.icone_formation
{
background-color: #1d70b8;
}
.icone_participant
{
background-color: #01245d;
}

.icone_pays
{
background-color: #36a9e0;
}

.icone_mondats
{
background-color: #f0a004;  
}

.pi-60
{
    padding: 60px 0px;
}

.icone-chiffre
{
    height: 30px;
    width: 30px;
}

@media (max-width: 768px)
{
    .card_accueil {
        width: 100%;
        margin: 20px 0px;
    }
    
    .d-flex-cards {
        display: flex;
        flex-direction: column;
    }
    .container_chiffres {
        margin: 20px 0px;
    }
    .flex-chiffres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
=======

/*home page section nous pouvons*/

.title{
    color:#00235c;
}

.section-nous-pouvons .text p{
    color:#6a6a6a;
}

.notes p{
    color:#01245d;
}

.section-nous-pouvons .section-content{
    justify-content:center;
    align-items:center;
    display:flex;
}

.section-nous-pouvons img{
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
}

.section-nous-pouvons .right-side{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.section-nous-pouvons .right-side img:nth-child(2){
    position: relative;
    top: 30px;
    box-shadow:9px 7px 0px 1px #00235c;
}


#block-nouspouvons{   
    background: rgb(232,232,232);
    background: radial-gradient(circle, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 52%, rgba(230,230,230,1) 100%);
    padding: 60px 0;
    margin: 60px 0;
}

@media screen and (max-width:767px) {
    {
        
>>>>>>> 31dc28a60a58bc688c5af989d7002577cc4beb45
    }
}